body{
	background: url('../image/large.jpg') no-repeat;
	background-size: cover;
}

.formulario{
	background-color: white;
	width: 40%;
	margin: auto;
	padding: 0 3%;
	border-top: 5px solid #58A5FF;
}

input:last-child{
	border:none;
	background-color: #58A5FF;
	display: block;
	border-radius: 4px;
	color: white;
}

input,textarea{
	width: 50%;
}

textarea{
	height: 50px;
}
span{
	color: red;
}

.container-fluid{
	padding-top: 50px;
}

h3{
	padding-bottom: 3px;
	border-bottom: 1px solid black;
}

form p{
	font-weight: 600;
}

@media (max-width: 600px) {
  	.formulario{
  		width: 80%;
  	}

  	input,textarea{
	width: 70%;
	}
}