*{
	margin: 0;
	padding: 0:;
}

body,html{
	font-family: 'Lato',sans-serif;
	font-size: 16px;
}

a{
	text-decoration: none;
}

h2{
	font-weight: 300;
	font-size: 2.5rem;
}

/*********HEADER*******/
header{
	background-color: rgba(85, 85, 85, 0.7);
	position: fixed;
	z-index: 2;
	width: 100%;
}
.navbar{
	padding: 1% 2%;
}
.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-toggle {
	padding: 7px 5px;
}
header a img{
	margin-top: 2%;
	width: 270px;
}
header nav a{
	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
    background-color: white;
    border-radius: 5px;
}
/********BANNER********/
.banner{
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
}
.opaco{
	background-color: rgba(85, 85, 85, 0.57);
	height: 100%;
}
.banner h1{
	text-align: center;
	color: white;
	font-size: 3.3em;
	padding: 18% 10%;
}

.free{
	background-color: rgba(78, 126, 184, 0.83);
	color: white;
	position: absolute;
	width: 100%;
	bottom: 23px;
}
/******SERVICIOS******/

.servicios .col-md-4 a{
	height: 150px;
	width: 150px;
	border: none;
	border-radius: 100%;
	box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.14);
	text-align: center;
	padding-top: 45px;
	display: inline-block;
	font-size: 2.5rem;
	text-decoration: none;
}

.servicios p{
	margin-top: 7%;
}

.servicios{
	border-bottom: 1px solid #EEEEEE;	
	padding-bottom: 10%;
}

.separador {
	top: 162px;
}
.separador{
	position: relative;
	left: 0%;
}

/********EXAMPLE*********/
.example span, .why span{
	font-size: 2.5rem;
	font-weight: 700;
}

.example h2, .why h2,.why{
	margin-bottom: 7%;
}

.example, .i-want{
	border-bottom: 1px solid #EEEEEE;
}

/*******LO QUIERO, QUÉ HAGO ********/
.bg-laptop{
	background: url('../image/sec-2.jpg');
	background-size: cover;
	width: 100%;
}

.icon{
	position: relative;
	left: 45%;
	top: 5px;
	display: block;
	text-decoration: none;
	font-size: 2rem;
	background-color: #50BDEA;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	padding: 7px 14px;
	display: none;

}

/*******¿POR QUÉ?******/
.why p span{
	font-size: 1rem;
	font-weight: 500;
}
/******FREE TRIAL*****/
.free-trial{
	padding: 2%;
	}

.free-trial a{
	padding: 2% 6%;
	border: 2px solid white;
	border-radius: 4px;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}

.free-trial h3{
	font-size: 2rem;
}

/*******FOOTER******/
.bg-footer{
	background-color: #2A3541;
	padding: 3%;
}

footer i{
	font-size: 2rem;
}


@media (max-width: 500px) {
  	.banner h1{
	font-size: 2em;
	padding: 60% 9%;
	}

	.navbar-nav>li>a {
    line-height: 11px;
	}

	.navbar {
	margin-bottom: 0;
	}

	header nav a{
	font-size: 1rem;
	}

	.separador{
		display: none;
	}

	.free-trial h3 {
    font-size: 1rem;
	}

	.free{
		bottom: 9px;
	}

	.example img{
	display: none;
	}

	.i-want .col-xs-12{
		padding: 0 11%;
	}

	footer p:nth-child(5){
		float: none;
	}
}