*{
	margin: 0;
	padding: 0:;
}

body,html{
	font-family: 'Lato',sans-serif;
	font-size: 16px;
}

a{
	text-decoration: none;
}

h2{
	font-weight: 300;
	font-size: 2.5rem;
}

/*******UTILITIES******/
.pd-5{
	padding: 5%;
}

.mt-3{	
	margin-top: 3%;
}

.mt-5{
	margin-top: 5%;
}

.pb-4{
	padding-bottom: 4%;
}
.white{
	color: white;
}

.celeste{
	color: #68ADFF;
}

.azul-user{
	color: #3982A9;
}

.black{
	color: black;
}

.bg-white{
	background-color: white;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.justify{
	text-align: justify;
}

.w-100{
	width: 100%;
}
/******SERVICIOS******/

.servicios a{
	height: 150px;
	width: 150px;
	border: none;
	border-radius: 100%;
	box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.14);
	text-align: center;
	padding-top: 45px;
	display: inline-block;
	font-size: 2.5rem;
	text-decoration: none;
}

.servicios p{
	margin-top: 7%;
}

.servicios{
	border-bottom: 1px solid #EEEEEE;	
	padding-bottom: 10%;
	position: relative;
}

.separador{
	background: url('../image/separador.png');
	background-size: cover;
	padding:4%;
	position: absolute;
	top: 88%;
	left: 46%;
	display: none;
}

/********EXAMPLE*********/
.example span, .why span{
	font-size: 2.5rem;
	font-weight: 700;
}

.example h2, .why h2,.why{
	margin-bottom: 7%;
}

.example, .i-want{
	border-bottom: 1px solid #EEEEEE;
}

/*******LO QUIERO, QUÉ HAGO ********/
.bg-laptop{
	background: url('../image/sec-2.jpg');
	padding:4%;
}

/*******¿POR QUÉ?******/
.why p span{
	font-size: 1rem;
	font-weight: 500;
}
/******FREE TRIAL*****/
.free-trial{
	background-color: #74A3DB;
	padding: 2%;
	}

.free-trial a{
	padding: 2% 6%;
	border: 2px solid white;
	border-radius: 4px;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}

.free-trial h3{
	font-size: 2rem;
}

/*******FOOTER******/
.bg-footer{
	background-color: #2A3541;
	padding: 3%;
}