
.pd-5{
	padding: 5%;
}

.pr-2{
	padding-right: 2%;
}

.pt-3{
	padding-top: 3%;
}

.mt-1{	
	margin-top: 1%;
}
.mt-3{	
	margin-top: 3%;
}

.mt-5{
	margin-top: 5%;
}

.mb-5{
	margin-bottom: 5%;
}
.pb-4{
	padding-bottom: 4%;
}
.white{
	color: white;
}

.celeste{
	color: #68ADFF;
}

.azul-user{
	color: #3982A9;
}

.black{
	color: black;
}

.bg-white{
	background-color: white;
}
.bg-free{
	background-color: #74A3DB;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.f-right{
	float: right;
}

.f-left{
	float: right;
}
.justify{
	text-align: justify;
}

.w-100{
	width: 100%;
}